//Variables
@import "core/variables";

//components
@import "core/global";
@import "core/sidebar";
@import "core/body";
@import "core/navbar";
@import "core/navbarOptions";
@import "core/table";
@import "core/bottom";
@import "core/notificationItem";
@import "core/checked";
@import "core/toggleBtn";
@import "core/carousel";
@import "core/forms";
@import "core/tabPane";
@import "core/pagination";
@import "core/check";
@import "core/slider";
@import "core/ngPopup";
@import "core/checkin";