<div id="content" class="pt-3">
  <app-navbar [title]="'EDITAR EMPRESA'" [description]="'Configuraciones / Realizar depósito / Escanear cheque'"></app-navbar>
  <div class="content-body config-content">
    <div class="body-config">
      <form action="">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-12 mb-2">
            <div class="content-input little-label">
              <label for="inputPassword5" class="form-label">Razón social</label>
              <div class="d-flex justify-content-beetween align-items-center">
                <input type="text" placeholder="" value="Empresa Electrica Quito S.A">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12 mb-2">
            <div class="content-input little-label">
              <label for="inputPassword5" class="form-label">Razón social</label>
              <div class="d-flex justify-content-beetween align-items-center">
                <input type="text" placeholder="" value="Empresa Electrica Quito S.A">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12 mb-2">
            <div class="content-input little-label">
              <label for="inputPassword5" class="form-label">Tipo de documento</label>
              <div class="d-flex justify-content-beetween align-items-center">
                <input type="text" placeholder="" value="RUC">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12 mb-2">
            <div class="content-input little-label">
              <label for="inputPassword5" class="form-label">Identificación</label>
              <div class="d-flex justify-content-beetween align-items-center">
                <input type="text" placeholder="" value="1790053881001">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12 mb-2">
            <div class="content-input little-label">
              <label for="inputPassword5" class="form-label">Fecha de vencimiento</label>
              <div class="d-flex justify-content-beetween align-items-center">
                <input type="text" placeholder="" value="2020 - 10 - 23">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12 mb-2">
            <div class="content-input little-label">
              <label for="inputPassword5" class="form-label">Dirección</label>
              <div class="d-flex justify-content-beetween align-items-center">
                <input type="text" placeholder="" value="Calderon">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12 mb-2">
            <div class="content-input little-label">
              <label for="inputPassword5" class="form-label">Ciudad</label>
              <div class="d-flex justify-content-beetween align-items-center">
                <input type="text" placeholder="" value="Ibarra">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12 mb-2">
            <div class="content-input little-label">
              <label for="inputPassword5" class="form-label">Teléfono de contacto</label>
              <div class="d-flex justify-content-beetween align-items-center">
                <input type="text" placeholder="" value="0979203577">
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn-primary d-block mr-auto mt-3">Guardar</button>
    </form>
    </div>
  </div>
</div>
