<div id="content">
    <div class="content-body">
      <!-- NAVBAR -->
      <app-navbar></app-navbar>
        <div class="d-flex flex-row section-body">
            <div class="content-form text-center m-auto">
                <h1 class="title color-bottom mb-4">Datos del seposito</h1>
                <form action="">
                    <div class="content-input little-label">
                        <label for="inputPassword5" class="form-label">Banco</label>
                        <div class="d-flex justify-content-beetween align-items-center">
                            <select name="select" id="select">
                                <option value="Banco pichincha">BANCO PICHINCHA</option>
                                <option value="Banco pichincha">OTROS</option>
                            </select>
                        </div>
                    </div>
                    <div class="content-input little-label">
                        <label for="inputPassword5" class="form-label">Cuenta</label>
                        <div class="d-flex justify-content-beetween align-items-center">
                            <input type="text" value="888453155 ; Ahorros ; DOLAR">
                        </div>
                    </div>
                    <div class="content-input little-label">
                        <label for="inputPassword5" class="form-label">Fecha</label>
                        <div class="d-flex justify-content-beetween align-items-center">
                            <input type="date" value="2021-03-16">
                        </div>
                    </div>
                    <div class="content-input little-label">
                        <label for="inputPassword5" class="form-label">Total depósito</label>
                        <div class="d-flex justify-content-beetween align-items-center">
                            <input type="text" value="4234">
                        </div>
                    </div>
                    <div class="content-input little-label">
                        <label for="inputPassword5" class="form-label">Número de documentos</label>
                        <div class="d-flex justify-content-beetween align-items-center">
                            <input type="text" value="123">
                        </div>
                    </div>
                    <button type="submit" class="btn-primary">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>

