#content{
    background: $bgPrimary;
    padding: 0;
    width: 100%;
    & > .content-body{
        padding: 0 20px;
        padding-top: 10px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background: #F7F7F7;
        min-height: 100vh;
    }
}
/*Media query*/
@media(max-width:1020px){
    #content{
        & .section-body{
            flex-wrap: wrap;
        }
    }
}