.btn-primary{
    background: $bgBottom;
    background-color: $bgBottom !important;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .08em;
    line-height: 18px;
    font-family: $fontTitle;
    color: #FFF;
    padding: 8px 10px;
    width: max-content;
    border: inherit;
    min-width: 140px;
    border-radius: 10px;
    &.btn-little{
        padding: 5px 15px;
        width: auto;
        min-width: inherit;
        border-radius: 5px;
        height: 100%;
        display: flex;
        align-items: center;
        & > svg{
            max-width: 24px;
            height: 24px;
        }
    }
    &.btn-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        & > img,
        & > svg{
            max-width: 24px;
            margin-right: 5px;
        }
    }
    &.btn-white{
        background: transparent;
        background-color: transparent !important;
        border: 2px solid $bgBottom;
        color: $bgBottom;
        border-radius: 10px;
        margin-right: 5px;
        font-weight: 700;
        &:hover{
            color: #FFF;
            background-color: $bgBottom !important;
            border: 2px solid $bgBottom;
        }
    }
    &:hover{
        box-shadow: inherit;
        background: $bgBottom;
    }
}