.config-content{
    & .body-config{
        border-radius: 10px;
        width: 100%;
        min-height: 75vh;
        padding: 20px 0;
        & .content-table{
            margin: auto;
            border: 1px solid #E7E7E7;
            padding: 15px;
            & table{
                text-align: left;
                margin-bottom: 0;
                & thead{
                    & > tr{
                        border-bottom: 1px solid #E7E7E7;
                        border-color: #E7E7E7;
                        border-style: double;
                    }
                }
                & th,
                & td{
                    padding: 5px 1.1rem;
                }
                & .footer-table{
                    display: table-caption;
                    border-top: 1px solid #E7E7E7;
                    width: 100%;
                    padding: 10px 1.1rem;
                    & > .pagination{
                        max-width: 350px;
                        margin-left: auto;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                        color: $colorText;
                        & > .content-input{
                            max-width: 50px;
                            padding: 0;
                            margin-bottom: 7px;
                            margin-right: 40px;
                            & input,
                            & select{
                                unicode-bidi: unset;
                                direction: unset;
                                padding: 0;
                                font-size: 14px;
                            }
                        }
                        & span{
                            margin-right: 10px;
                        }
                        & .directionals{
                            padding: 0;
                            & > svg:nth-child(1){
                                margin-right: 25px;
                            }
                        }
                    }
                }
                & svg{
                    margin-right: 15px;
                }
            }
        }
        & .content-search{
            display: flex;
            justify-content: space-between;
           
            & .dark-input{
                color: $colorText;
                & input{
                    color: #E7E7E7;
                }
                & .input-group-text {
                    background: #FFF;
                }
            }
            & .btn-primary{
                & > svg{
                    margin-right: 10px;
                }
            }
        }
        & input,
        & select{
            unicode-bidi: unset;
            direction: unset;
            font-size: 18px;
        }
    }
    & .nav-tabs{
        justify-content: center;
        color: $colorText;
        & button{
            color: inherit;
            padding: .2rem 0;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: .008em;
            margin: 0 1rem;
        }
        & .nav-link{
            &.active{
                background: transparent;
                color: $bgBottom;
                border: none;
                border-bottom: 3px solid $bgBottom;
            }
        }
    }
}