.content-input{
    width: 100%;
    margin-bottom: 20px;
    color: $colorText;
    &.little-label{
        & label{
            text-align: left;
            border-bottom: none;
            color: #898A8D;
            font-size: 10px;
            line-height: 15px;
        }
        & input,
        & select,
        & textarea{
            unicode-bidi: normal;
            direction: inherit;
            padding-left: 0;
            font-weight: 400;
        }
    }
    &.dark-input{
        &.w-100{
            width: 100%;
        }
        & input,
        & select,
        & textarea{
            unicode-bidi: normal;
            direction: inherit;
            border: 1px solid #CCCC;
            border-radius: 5px;
            padding-left:10px;
            border-right: none;
            background: #F7F7F7;
            font-weight: 400;
            color: $colorText;
            background: #FFF;
            &::placeholder{
                color: $colorText;
            }
        }
          & select{
            border-right: 1px solid #CCC;
        }
        & .input-group-text{
            border: none;
            height: 100%;
            background: #F7F7F7;
            border: 1px solid #CCC;
            border-left: none;
        }
    }
    & label{
        display: block;
        border-bottom: 1px solid $colorText;
        color: $colorText;
        height: 100%;
        margin-bottom: 0;
        padding-right: 5px;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 37px;
        min-width: 150px;
    }
    & input,
    & select,
    & textarea{
        width: 100%;
        border: none;
        border-bottom: 1px solid $colorText;
        border-radius: 0;
        unicode-bidi: bidi-override;
        direction: rtl;
        font-weight: 600;
        padding: .4rem 0;
        color: $colorText;
        font-size: 12px;
        &:focus{
            box-shadow: none;
            outline: inherit;
        }
    }
    & p{
        font-size: 12px;
    }
}

.content-form{
    background: #FFF;
    padding: 25px;
    border-radius: 16px;
    min-width: 450px;
}