*{
    padding: 0;
    margin: 0;
    font-family: $fontPrimary;
}
:host {
    display: block;
    left: 0;
    width: 100%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1,h2,h3{
    padding-bottom: 0;
    margin-bottom: 0;
}
span{
    color: $colorPrimary;
    font-size:12px;
    line-height: 14px;
    font-weight: 500;
}
.title{
    font-family: $fontTitle;
    font-weight: 700;
    font-size: 20px;
    color: $colorPrimary;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.subtitle{
    font-family: $fontTitle;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: .08em;
    color: $bgBottom;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.wrapper {
    display: flex;
    align-items: stretch;
    background: $bgPrimary;
    min-height: 100vh;
    & > app-deposits{
        width: 100%;
    }
    & > app-deposits-detail{
        width: 100%;
    }
    & > app-deposits-consult{
        width: 100%;
    }
    & > app-check{
        width: 100%;
    }
    & > app-config{
        width: 100%;
    }
    & > app-config-business{
        width: 100%;
    }
    & > app-config-business-edit{
        width: 100%;
    }
    & > app-config-notify{
        width: 100%;
    }
    & > app-config-notify-edit{
        width: 100%;
    }
    & > app-config-accounts{
        width: 100%;
    }
    & > app-config-accounts-edit{
        width: 100%;
    }
}
.br-16{
    border-radius: 16px; 
}
.br-8{
    border-radius: 8px; 
}
.striped{
    background-color: #FAFAFA;
}
.main-section{
    width: 100%;
}
.border-bottom{
    border-bottom: 1px solid #E5E5E5;
}
.color-bottom{
    color: $bgBottom !important;
}
.color-danger{
    color: red !important;
}
.color-success{
    color: green !important;
}
.f-20{
    font-size: 20px;
}
.border-none{
    border-radius: 0 !important;
}
.border-right{
    border-right: 1px solid #CCC !important;
}
.mb-none{
    margin-bottom: 0 !important;
}
.bs-none{
    box-shadow: none !important;
}

.b-none{
    border: none !important;
}
.border-on{
    border: 1px solid $colorText;
}

#contratoModal{
    & h1{
        color: $colorPrimary;
    }
    & p{
        color: $colorPrimary;
    }
}
.content-fixed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 0 !important;
}
.overflow-hidden{
    overflow: hidden;
    max-width: 100%;
}
.mx-height-270{
    max-height: 290px !important;
}
.mx-height-360{
    max-height: 385px !important;
}
.mx-height-165{
    max-height: 240px !important;
}
.w-70{
    width: 70%;
}

@media(max-width: 375.98px){
    .items-flex{
        flex-direction: column !important;
    }
}