.navbar{
    background: transparent;
    margin-bottom: 0;
    padding-bottom: 0;
    background: #F7F7F7;
    padding: 0 20px;
    padding-top: 15px !important;
    border-top-left-radius: 15px;
    & > .navbar-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:375.98px){
    .navbar{
        display: none !important;
    }
}