.item-prev,
.item-next{
    position: absolute;
    font-size: 11px;
    background: $bgBottom;
    padding: 5px 5px;
    z-index: 2;
    border-radius: 7px;
    color: #FFF;
    top: 50%;
    transform: translate(0, -50%);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    cursor: pointer;
    & > svg{
        max-width: 20px;
        max-height: 20px;
    }
}
.item-next{
    margin-right: 0;
    right: 0;
}
.item-prev{
    margin-left: 0;
    left: 0;
}

@media(max-width: 1020.98px){
    .item-prev,
    .item-next{
        top: calc(100% + 28px);
    }
}